<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participant Login</title>
    <link rel="stylesheet" href="/Users/Pranjal Singla/PycharmProjects/pythonProject/static/participants.css">

</head>
<body>
    <main>
       <div class="box">
           <div class="inner-box">
               <div class="options-wrap">
                <form action="/participants" method = 'POST'>
                    <div class="logo">
                        <img src="/Users/Pranjal Singla/PycharmProjects/pythonProject/static/images for main page/logo.png" alt="logo">
                        <h2>DebSort</h2>
                    </div>
                    <input type="submit" value="Teams" name="choice" class="sign-in-button">
                    <input type="submit" value="Speakers" name="choice" class="sign-in-button">
                    <input type="submit" value="Adjudicators" name="choice" class="sign-in-button">
                    <input type="submit" value="Institutions" name="choice" class="sign-in-button">
                    <input type="submit" value="Change Password" name="choice" class="log-out-button">
                    <input type="submit" value="Log Out" name="choice" class="log-out-button">
                   </form>
               </div>
           </div>
       </div>
    </main>
    
</body>
</html>